* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Roboto Condensed", sans-serif;
}

body {
   width: 100%;
}

p {
   font-size: 1.1rem;
}

a {
   color: inherit;
}

ul {
   margin-left: 30px;
}

a:hover {
   color: inherit;
}

.clearfix {
   overflow: auto;
   clear: all;
}

nav {
   min-height: 15vh;
   color: white;
   align-items: center;
   background: linear-gradient(to left, #fffafa, #ffffff);
   opacity: 0.8;
}

.logo {
   grid-column: 2/3;
   font-size: 3em;
   color: black;
}

.navbar-nav {
   justify-self: end;
   z-index: 2;
   color: black;
}

.navbar-nav button {
   border: none;
   border-right: 1px solid black;
   background-color: transparent;
}

.nav-btn {
   display: inline-block;
   width: 100px;
   padding: 8px 12px;
   text-align: center;
   border-right: 1px solid black;
   transition: 0.5s;
}

.nav-btn:last-of-type {
   border-right: none;
}

.nav-btn:hover {
   transition: 0.5s;
   cursor: pointer;
   background-color: #d88965;
}

.custom-toggler .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(100,100,100, .5)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
   border-color: rgb(0, 0, 0);
}

.slider {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background: linear-gradient(to left, #ffa57b, #ffc8ae);
   z-index: -2;
}

.orange-gradient {
   background: linear-gradient(to left, #ffa57b, #ffc8ae);
}

.grey-gradient {
   background: linear-gradient(to left, #6597f3, #e3e9f5);
}

.forest-gradient {
   background: linear-gradient(to left, #101808, #626362);
}

.hero {
   height: 60%;
   width: 100%;
   position: relative;
}

.hero img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   box-shadow: 20px 10px 50px -5px;
}

section {
   display: flex;
   height: 80vh;
   justify-content: center;
   align-items: center;
}

.headline {
   position: absolute;
   top: 20%;
   left: 0%;
   font-size: 100px;
   transform: translate(-20%, -20%);
   color: azure;
   left: 20%;
   z-index: 3;
}

.hero::after {
   content: "";
   background: black;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0.1;
   box-shadow: 20px 10px 50px -5px;
}

.body-copy {
   position: relative;
   width: 100%;
   padding: 4em 5em;
   z-index: 2;
}

.body-copy p {
   color: black;
}

.body-copy img {
   width: 275px;
   float: right;
   margin: 0 0 30px 30px;
   box-shadow: 20px 10px 50px -5px;
}

.body-copy::after {
   content: "";
   background: #ffffff;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0.9;
   z-index: -1;
   border-radius: 10px;
   box-shadow: 20px 10px 50px -5px;
}

.card-deck {
   margin-top: 45px;
}

.icon-grid a {
   color: black;
   transition: 0.5s;
}

.icon-grid a:hover {
   text-decoration: none;
   transition: 0.5s;
   color: #d88965;
}

.card-home {
   background-color: transparent;
   border: none;
   transition: 0.5s;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   transition: 0.5s;
}

.card-home:hover {
   cursor: pointer;
   transition: 0.5s;
   color: #d88965;
}

.card-title {
   font-size: 1.5rem;
}

.fas,
.far,
.fab {
   font-size: 150px;
   padding: 24px;
}

/* ========================== PROJECTS PAGE ========================== */
.projects-container {
   padding-bottom: 3em;
}

.projects-container .card {
   background: transparent;
   margin-bottom: 2em;
   z-index: 1;
}

.projects-container .card::after {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 10px;
   box-shadow: 20px 10px 50px -5px;
   background-color: #f2f2f3;
   border: 1px solid #f2f2f3;
   opacity: 0.7;
   z-index: -1;
}

.projects-container .card-body {
   padding: 1.25rem 1.5rem;
}

.projects-container .card-title {
   text-align: center;
   font-size: 2rem;
}

.projects-container .card-text {
   font-size: 0.9rem;
}

.projects-container .card-text p {
   font-size: 1rem;
}

.projects-container .card:last-child {
   margin-bottom: 0;
}

.order-2 {
   order: 2;
}

.btn-projects {
   background: white;
   justify-self: center;
}

.btn-projects:hover {
   color: white;
   background: black;
}

/* ========================== ABOUT PAGE ========================== */

.about-hero img {
   width: 100%;
   z-index: 1;
   border-radius: 5px;
}

.about-hero {
   position: relative;
}

.about-hero::after {
   content: "Your Next Team Member";
   position: absolute;
   right: 0;
   top: 0;
   margin-right: 2em;
   margin-top: 1em;
   border-radius: 5px;
   padding: 14px 10px;
   font-size: 5rem;
   text-align: center;
   box-shadow: 20px 10px 50px -5px;
   background-color: #f2f2f3;
   border: 1px solid #f2f2f3;
   opacity: 0.5;
   z-index: 1;
   width: 25%;
}

.about-section {
   position: relative;
   z-index: 1;
   padding: 22px 32px;
}

.about-section::after {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   background-color: #ffffff;
   opacity: 0.7;
   z-index: -1;
   border-radius: 5px;
}

.img-about {
   margin-bottom: 15px;
   border-radius: 5px;
}

.img-about:hover {
   cursor: pointer;
}

.large-about-img {
   position: relative;
}

.icon-wrapper {
   position: absolute;
   top: 10px;
   right: 10px;
   transition: 0.5s;
   opacity: 0.5;
}

.icon-wrapper:hover {
   transition: 0.5s;
   transform: rotateY(180deg);
   cursor: pointer;
   opacity: 1;
}

.fa-times-circle {
   color: #ffffff;
   font-size: 50px;
}

/* ========================== MEDIA QUERIES ========================== */

@media screen and (max-width: 1478px) {
   .about-hero::after {
      padding: 14px 24px;
      font-size: 4rem;
      width: 30%;
   }
}

@media screen and (max-width: 1100px) {
   .about-hero::after {
      padding: 14px 24px;
      font-size: 2.5rem;
      width: 25%;
   }
}

@media screen and (max-width: 992px) {
   .fas,
   .far {
      font-size: 100px;
      padding: 24px;
      align-items: center;
   }

   .card-title {
      font-size: 2.25rem;
      text-align: center;
   }

   .card-home {
      width: 80%;
   }

   .slider {
      /* height: 300vh; */
      background: linear-gradient(to left, #ffa57b, #f8ceba);
   }

   .about-hero::after {
      padding: 14px 10px;
      font-size: 2rem;
   }
}

@media screen and (max-width: 678px) {
   /* ========================== MOBILE HERO IMAGE ========================== */
   .slider {
      height: 100vh;
      background: linear-gradient(to left, #ffa57b, #f8ceba);
   }

   section {
      height: 90vh;
   }

   p {
      font-size: 1.25rem;
   }

   .headline {
      font-size: 40px;
      top: 20%;
      left: 30%;
      transform: translate(-30%, -40%);
   }

   .logo {
      font-size: 1.5em;
   }

   nav {
      min-height: 10vh;
   }

   .body-copy {
      padding: 2em;
   }

   .body-copy img {
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
   }

   .body-copy h2 {
      font-size: 2.5rem;
      text-align: center;
   }

   .navbar {
      padding: 0;
   }

   .navbar-nav {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 10px;
   }

   .navbar-brand {
      padding: 0.5rem 0.75rem;
   }

   .navbar-toggler {
      margin-right: 0.75rem;
   }

   .nav-btn {
      font-size: 1rem;
      padding: 6px 8px;
      width: 90px;
   }

   /* ============== ABOUT MOBILE NAVIGATION ============== */
   .about-hero {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      margin-top: 3rem !important;
   }

   .about-hero::after {
      margin-right: 30px;
      margin-top: 15px;
      border-radius: 5px;
      padding: 5px 8px;
      font-size: 1.5rem;
      text-align: center;
      opacity: 0.7;
      width: 35%;
   }

   .about-section h1 {
      font-size: 2rem;
      line-height: 2.5;
   }

   .about-section h2 {
      font-size: 1.75rem;
      line-height: 1.75;
   }

   .about-section p {
      font-size: 1.1rem;
   }
   .fas,
   .far {
      font-size: 50px;
      padding: 8px;
      align-items: center;
   }

   .left-col {
      margin-bottom: 2.5rem;
   }
}
